doctype html 
html 
    head 
        meta(charset='utf-8')
        link(rel="stylesheet", href="/css/board.css")
        title= board 
    body 
        div(id="loader")
            div
        div(class="home_title")
            a(href="/") FLAT UI COLORS 2
            h1(class="home_title-second") 
                a(href="/board") board
        form(action="/board/"+list.id+"/update" method='post')     
            div(class="board_wrap")
                div(class="board_box")
                    div(class="board_button")
                            div(class="button_wrap")
                                input(type="submit" value="Update" class="submit_button")
                    div(class="board_top")
                        ul
                            li Title
                            li Description 
                            li Name
                div(class="input_wrap")
                    p 
                        input(type="text" name='title' value=list.title class="input_title")
                    p 
                        textarea(name="description" class="description_title" placeholder="description")
                            =list.description
                    p 
                        input(type="text" name='name' value=list.name class="name_title")
