.button_wrap input{
    background: #30336b;
}
.input_wrap{
    width: 100%;
    height: 100%;
    text-align: center;
}
.input_title{
    width: 80%;
    margin-top: 10px;
}
.description_title{
    width: 80%;
    margin-top: 10px;
}
.name_title{
    width: 80%;
    margin-top: 10px;
}
.input_title{
    width: 80%;
    height: 4vh;
    border-color: #30336b;
    font-size: 1rem;
}

.description_title{
    border-color: #30336b;
    width: 80%;
    height: 50vh;
    resize: none;
    overflow: hidden;
    font-size: 1.4rem;
}
.name_title{
    width: 80%;
    height: 4vh;
    border-color: #30336b;
    font-size: 1rem;
}